@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@layer base {
    body {
        @apply font-[Montserrat];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 225px;
}

.content-div:hover {
    background-image: '../assets/barbell.png'
    !important;
}

@media (min-width: 640px) {
    .content-div {
        height: 350px;
        width: 350px;
    }
}

.skills-div:hover {
    background-color: #091824;
}

.FrontGator:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .BackGator {
    transform: rotateY(180deg);
    
  }
