@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --animate-gradient: gradient 8s linear infinite;

  @keyframes gradient {
    0%   { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
}

@keyframes spin-rev {
  to { rotate: -2turn; }
}

:root {
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0a13;
  color: #ffffff;
}