@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

@layer base {
    body {
        font-family: 'Josefin Sans', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.acm1 {
    background-image: url('./assets/gradient.png');
    background-size: cover;
}

.acm1:hover {
    background-image: url('./assets/textless_gradient.png');
    background-size: cover;
}

.bb {
    background-image: url('./assets/barbell_gradient.png');
    background-size: cover;
}

.bb:hover {
    background-image: url('./assets/dark-mesh-gradient.png');
    background-size: cover;
}

.ccc {
    background-image: url('./assets/ccc.png');
    background-size: cover;
}

.ccc:hover {
    background-image: url('./assets/ccc_alt.png');
    background-size: cover;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 225px;
}


@media (min-width: 640px) {
    .content-div {
        height: 350px;
        width: 350px;
    }
}

.skills-div:hover {
    background-color: #2a2a2a;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5f5f5f;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}